
#albumes-container{
    /* border: 10px solid red; */
    height: 70vh;
    width: 70vw ;
    overflow: auto;
    margin: auto;
}
.msjAlbumVacio{
    position: absolute;
    color: rgb(35, 29, 38);
    border: 2px solid rgb(143, 143, 143);
    height: 80%;
    width: 80%;
    background: linear-gradient(to bottom, #000000, #deddd9);
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 10%;
}
.msjAlbumVacio h2{
    font-size: 200%;
}

